<div class="article">
        <div class="article_group">
            <div class="article_info">
                <p class="article_image_box">
                    <%= image_tag article.image, class: "article_image" %>
                </p>
                <div class="article_user_field">
                    <span>投稿者:</span>
                    <div class="article_user_image_box">
                        <%= image_tag 'image1.jpeg', class: "article_user_image" %>
                        <div class="article_user_name">マッキー</div>
                    </div>
                </div>
            </div>
            <div class="article_text">
            <div class="article_title">
                <%= article.title %>
            </div>
            <div class="article_text_field">
                <%= simple_format(article.text) %>
            </div>
            <div class="article_menu">
                <div class="article_menu_btn">
                    感想
                </div>
                <div class="article_menu_btn">
                    <%= link_to '編集', edit_article_path(article), class: "article_menu_common_btn" %>
                </div>
                <div class="article_menu_btn">
                    <%= link_to '詳細', article_path(article), class: "article_menu_common_btn" %>
                </div>
                <div class="article_menu_btn article_menu_btn_dele">
                    <%= link_to '削除', article_path(article), method: :delete, class: "article_menu_common_btn" %>
                </div>
            </div>
        </div>
    </div>
    <div class="article_question_info">
        <span class="article_question">未回答の質問・感想が◯件→　</span>
        <div class="article_question_btn">回答する</div>
    </div>
</div>