<div class="contents_show">
        <h2>投稿の詳細</h2>
        <div class="article_show">
            <div class="article_show_title">
                タイトル「<%= @article.title %>」
            </div>
            <div class="article_show_image">
                <%= image_tag @article.image, class: "article_show_image_field" %>
            </div>
            <div class="article_show_text">
                <div class="article_show_text_field">
                    <%= simple_format(@article.text) %>
                </div>
                <div class="article_show_menu_list">
                    <div class="article_show_text_time">
                        最終更新：<time><%= time_ago_in_words @article.updated_at %></time>
                    </div>
                    <div class="article_show_btn_list">
                        <% if user_signed_in? && current_user.id == @article.user_id %>
                        <div class="article_menu_btn">
                            <%= link_to '編集', edit_article_path(@article), class: "article_menu_common_btn" %>
                        </div>
                        <div class="article_menu_btn article_menu_btn_dele">
                            <%= link_to '削除', article_path(@article), method: :delete, class: "article_menu_common_btn" %>
                        </div>
                        <% elsif user_signed_in? && current_user.id != @article.user_id %>
                        <div class="article_menu_btn">
                            <%= link_to '感想', new_article_review_path(@article), class: "article_menu_common_btn" %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="article_show_user_field">
                <span>投稿者情報</span>
                <div class="article_show_user_info">
                    <div class="article_user_show_image">
                        <%= image_tag @article.user.user_image, class: "article_show_user_image" %>
                        <% if user_signed_in? && current_user.id == @article.user_id %>
                            <div class="user_menu_btn">
                                <%= link_to '編集', edit_user_path(current_user), class: "article_menu_common_btn" %>
                            </div>
                        <% end %>
                    </div>
                    <div class="article_show_user_group">
                        <div class="article_show_user">
                            <span>ニックネーム：</span><%= @article.user.nickname %>
                        </div>
                        <div class="article_show_user">
                            <span>年齢：</span><%= @article.user.age %>
                        </div>
                        <div class="article_show_user">
                            <span>出身：</span><%= @article.user.prefecture %>
                        </div>
                        <div class="article_show_user">
                            <span>趣味：</span><%= @article.user.hobby %>
                        </div>
                        <div class="article_show_user">
                            <span>座右の銘：</span><%= @article.user.motto %>
                        </div>
                        <div class="article_show_user">
                            <span>自己紹介：</span><br/>
                            <%= simple_format(@article.user.self) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article_show_review_field">
                <span class="subtitle">投稿の感想一覧</span>
                <div class="article_show_review">
                    <% if @reviews.present? %>
                    <%= render partial: "reviews/review", collection: @reviews %>
                    <% else %>
                    <br/>
                    <%= link_to '※まだ感想はありません', new_article_review_path(@article), class: "article_show_review_alert" %>
                    <% end %>
                </div>
            </div>
        </div>
</div>